<head>
    <link rel="stylesheet" href="../css/groupbox.css">
    <link rel="stylesheet" href="../fontawesome-free-5.12.1-web/css/all.css">
    <script src="../js/util.js"></script>
    <script src="../js/accounting.min.js"></script>
    <script src="../js/sweetalert2@9.js"></script>
   {{!--  <script src="../js/vue-2.js"></script> --}}
    <script src="../js/vuejs-datepicker-translations.js"></script>
    <script src="../js/vuejs-datepicker.min.js"></script>
    <script src="../vipermedix/js/properties.js"></script>
    <script src="../vipermedix/js/inventario.js"></script>
</head>
 {{>menuVertical}}
<div class="content-page-container full-reset custom-scroll-containers">
  {{>menuHorizontal}}
<div class="container-fluid">
<div class="row mtop-10">
    <div class="col-sm-12">
        <fieldset class="well">
            <legend class="well-legend text-uppercase">Buscar Por:</legend>
            <form id={{inv.frm_Nbus}}>
            <div class="row">
                <div class="col-sm-2 text-uppercase">Scurusal:</div>
                <div class="col-sm-6">
                    <select class="form-control" name={{inv.frm_sucu}} v-model={{inv.frm_sucu}} required  data-original-title="La sucursal es requerida" data-original-name="key_sucu">
                        <option value="0">--- Seleccione ---</option>
                        {{#each pharmacyBranchs}}
                            <option value="{{id}}">{{pharmacyBranchName}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="row" style="margin-Top:10px">
                <div class="col-sm-2 text-uppercase">{{inv.key_codiB}}:</div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="{{inv.frm_codiB}}" v-model={{inv.frm_codiB}} required  data-original-title="El código de Barras es requerido" data-original-name="key_codiB"/>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-success" v-on:click="getProduct" value={{inv.frm_Nbus}}>{{global.key_bus}}</button>
                </div>
            </div>
            </form>
        </fieldset>
    </div>
</div>
<form name="{{inv.frm_name}}" id="{{inv.frm_name}}">
    <div class="row">
        <div class="col-sm-12">
            <fieldset class="well">
                <legend class="well-legend text-uppercase">{{inv.gbx_dap}}</legend>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="d-none">
                                        <input type="text" class="form-control" name="{{inv.frm_prodId}}" v-model={{inv.frm_prodId}}>
                                        <input type="text" class="form-control" name="{{inv.frm_prdIn}}" v-model={{inv.frm_prdIn}}>
                                        <input type="text" class="form-control" name="{{inv.frm_lastPro}}" v-model={{inv.frm_lastPro}}>
                                    </div>
                                    <div class="col-sm-4 text-uppercase">
                                        {{inv.key_susA}}:
                                    </div>
                                    <div class="col-sm-7">
                                        <textarea class="form-control" name="{{inv.frm_susA}}" v-model={{inv.frm_susA}} disabled></textarea>
                                    </div>
                                    <div class="col-sm-4 text-uppercase" style="margin-Top:10px">
                                        {{inv.key_desc}}:
                                    </div>
                                    <div class="col-sm-7" style="margin-Top:10px">
                                        <textarea class="form-control" name="{{inv.frm_desc}}" v-model={{inv.frm_desc}} disabled></textarea>
                                    </div>
                                    <div class="col-sm-12 text-uppercase" style="margin-Top:10px">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                {{inv.key_preC}}:
                                            </div>
                                            <div class="col-sm-5">
                                                <input 
                                                    type="text" 
                                                    class="form-control isCurrency"
                                                    v-on:keyup="accountingEvent"
                                                    data-original-title="{{inv.mg_preC}}" 
                                                    data-original-name="key_preC"
                                                    name="{{inv.frm_preC}}" v-model={{inv.frm_preC}} required/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-4 text-uppercase" style="margin-Top:10px">
                                                {{inv.key_preP}}:
                                            </div>
                                            <div class="col-sm-5" style="margin-Top:10px">
                                                <input type="text" 
                                                       name="{{inv.frm_preP}}" 
                                                       v-model={{inv.frm_preP}} 
                                                       v-on:keyup="accountingEvent"
                                                        data-original-title="{{inv.mg_preP}}" 
                                                        data-original-name="key_preP"
                                                       class="form-control isCurrency" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 text-uppercase" style="margin-Top:10px">
                                        {{inv.key_ubi}}
                                    </div>
                                    <div class="col-sm-7" style="margin-Top:10px">
                                        <select class="form-control" name="{{inv.frm_ubi}}" v-model={{inv.frm_ubi}} data-original-title="{{inv.msg_ubi}}"  data-original-name="key_ubi" required>
                                            <option value="0">--- Seleccione ---</option>
                                            <option v-for="option in options" v-bind:value="option.value">
                                                \{{option.text}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4 text-uppercase" style="margin-Top:10px">
                                        {{inv.key_pro}}
                                    </div>
                                    <div class="col-sm-7" style="margin-Top:10px">
                                        <select class="form-control" name="{{inv.frm_pro}}" v-model={{inv.frm_pro}} data-original-title="{{inv.msg_prov}}"  data-original-name="key_pro" required>
                                            <option value="0">--- Seleccione ---</option>
                                            {{#each suppliers}}
                                                <option value="{{id}}">{{supplierName}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-lg-3 offset-lg-4 col-sm-3 col-sm-offset-4 col-md-3 col-md-offset-4">
                                                <div class="form-check form-check-inline">
                                                    <input type="checkbox" class="form-check-input"
                                                        name="{{inv.frm_cad}}" v-model={{inv.frm_cad}}></input>
                                                    <label
                                                        className="form-check-label text-uppercase">{{inv.key_cad}}</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-lg-offset-1 col-sm-3 col-sm-offset-2 col-md-3 col-md-offset-1">
                                                <div class="form-check form-check-inline">
                                                    <input type="checkbox" class="form-check-input"
                                                        name="{{inv.frm_anti}}" v-model={{inv.frm_anti}}></input>
                                                    <label
                                                        class="form-check-label text-uppercase">{{inv.key_anti}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="text-center">
                                    <img src="../img/default.PNG" class="img-fluid"
                                        style="height:200px; width:70%;"></img>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-4 col-sm-offset-1">
                                                <div class="row">
                                                    <div class="col-sm-12 text-uppercase text-center">
                                                        {{inv.key_stckA}}
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <input type="text" class="form-control" name="{{inv.frm_stckA}}" v-model={{inv.frm_stckA}}
                                                            disabled></input>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-sm-offset-2">
                                                <div class="row">
                                                    <div class="col-sm-12 text-uppercase">
                                                        {{inv.key_cantAd}}
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <input type="text" class="form-control"
                                                            name="{{inv.frm_cantAd}}" v-model={{inv.frm_cantAd}}  disabled ></input>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</form>
<div cass="col-sm-12">
    <fieldset class="well">
        <legend class="well-legend text-uppercase">{{inv.key_agIn}}:</legend>
        <div class="row">
            <div class="col-sm-12 text-center text-uppercase">{{inv.key_titM}}</div>
            <div class="col-sm-12 text-center text-uppercase">{{inv.key_subtM}}</div>
            <div class="col-sm-3 text-center text-uppercase">{{inv.key_numLoM}}</div>
            <div class="col-sm-2 text-center text-uppercase">{{inv.key_cantM}}</div>
            <div class="col-sm-3 text-center text-uppercase">{{inv.key_cadM}}</div>
            <div class="col-sm-12">
                <form name="{{inv.frm_CadN}}" id={{inv.frm_CadN}} autocomplete="off">
                    <div class="row">
                        <div class="d-none"><input type="text" class="form-control" name="{{inv.frm_cadp}}" v-model={{inv.frm_cadp}} autocomplete="off"></input>
                        </div>
                        <div class="col-sm-3"><input type="text" class="form-control isNumber" name="{{inv.frm_lote}}"  v-model={{inv.frm_lote}} minLength="{{inv.mnl_lote}}" maxLength="{{inv.mxl_lote}}" pattern="[0-9]" data-original-title="{{inv.msg_lote}}" data-original-name="key_numLoM"  autocomplete="off" required></input></div>
                        <div class="col-sm-2"><input type="text" class="form-control isNumber" name="{{inv.frm_cant}}" v-model="{{inv.frm_cant}}"  pattern="[0-9]" data-original-title="{{inv.msg_canl}}" data-original-name="key_cantM" autocomplete="off" required></input></div>
                        <div class="col-sm-3 text-center">
                            <vuejs-datepicker v-model="{{inv.frm_cadl}}"  :bootstrap-styling="true" class="calender-header" name="{{inv.frm_cadl}}" :inline="false" :language="es" :disabled-dates="state.disabledDates"></vuejs-datepicker>
                            
{{!--                              <input type="date" class="form-control" v-model="{{inv.frm_cadl}}" name="{{inv.frm_cadl}}" data-original-title="{{inv.msg_cadl}}" data-original-name="key_cad" autocomplete="off" required>
 --}}                        </div>
                        <div class="col-lg-4">
                            <p class="text-center">
                                <button type="button" class="btn btn-primary" value="{{inv.frm_CadN}}" v-on:click="validarIventario">{{global.key_acep}}</button>
                                <button type="button" class="btn btn-default" v-on:click="limpiar">Limpiar</button>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xl-12" id="demo">
                 <div class="col-lg-4">
                   <div class="group-material">
                    <form id="search" style="margin-bottom:5px">
                        Buscar  <input name="query" v-model="searchQuery" class="form-control">
                    </form>
                  </div>
                 </div>
                <demo-grid :heroes="gridData" :columns="gridColumns" :filter-key="searchQuery">
               </demo-grid>
            </div>
        </div>
    </fieldset>
</div>

<div class="row mbot-20">
    <div class="col-lg-12" id={{inv.frm_butN}}>
        <p class="text-center">
            <button type="button" class="btn btn-success mtop-10" v-on:click="fullValidae" :disabled="disable">{{global.key_guad}}</button>
            <button type="button" class="btn btn-primary mtop-10">{{global.key_limp}}</button>
        </p>
    </div>
</div>
</div>
</div>
<script type="text/x-template" id="grid-template">
    <div class="container-fluid">
          <table class="table">
            <thead>
              <tr>
                <th v-for="key in columns"
                  @click="sortBy(key)" 
                  
                  \:class="{ active: sortKey == key.column }">
                  
                  <template v-if="key.column !==''">
                    \{{ key.name | capitalize }}
                  <span class="arrow" :class="sortOrders[key.column] > 0 ? 'asc' : 'dsc'" >
                  </span>
                  </template>
                 
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="entry in filteredHeroes">
                <td class="d-none">\{{entry['cad_posicion']}}</td>
                <td>\{{entry['num_lote']}}</td>
                <td>
                    \{{entry['cant_lote']}}
                </td>
                <td>
                   \{{entry['cad_lote']}}
                </td>
                <td>
                    <button type='button' class="btn btn-primary" v-on:click='selectLote(entry["cad_posicion"])'>
                      <span class="fa fa-pencil-alt"></span>
                    </button>
                    <button type='button' class="btn btn-danger" v-on:click='confirmarRemoveLote(entry["cad_posicion"])'>
                      <span class="fa fa-trash-alt"></span>
                    </button>
                </td>
              </tr>
            </tbody>
          </table>
          </div>
        </script>