<head>
    <link rel="stylesheet" href="../css/groupbox.css">
    <script src="../js/util.js"></script>
    <script src="../js/sweetalert2@9.js"></script>
   {{!--  <script src="../js/vue-2.js"></script> --}}
    <script src="../js/vuejs-datepicker-translations.js"></script>
    <script src="../js/vuejs-datepicker.min.js"></script>
    <script src="../vipermedix/js/properties.js"></script>
    <script src="../vipermedix/js/inventario.js"></script>
</head>
 {{>menuVertical}}
<div class="content-page-container full-reset custom-scroll-containers">
  {{>menuHorizontal}}
<div class="container-fluid">
<div class="row mtop-10">
    <div class="col-sm-12">
        <fieldset class="well">
            <legend class="well-legend text-uppercase">Buscar Por:</legend>
            <form id={{inv.frm_Nbus}}>
            <div class="row">
                <div class="col-sm-2 text-uppercase">Scurusal:</div>
                <div class="col-sm-6">
                    <select class="form-control" name={{inv.frm_sucu}} v-model={{inv.frm_sucu}} required  data-original-title="La sucursal es requerida" data-original-name="key_sucu">
                        <option value="0">--- Seleccione ---</option>
                        {{#each pharmacyBranchs}}
                            <option value="{{id}}">{{pharmacyBranchName}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="row" style="margin-Top:10px">
                <div class="col-sm-2 text-uppercase">{{inv.key_codiB}}:</div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="{{inv.frm_codiB}}" v-model={{inv.frm_codiB}} required  data-original-title="El código de Barras es requerido" data-original-name="key_codiB"/>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-success" v-on:click="getProduct" value={{inv.frm_Nbus}}>{{global.key_bus}}</button>
                </div>
            </div>
            </form>
        </fieldset>
    </div>
</div>
<form name="{{inv.frm_name}}" id="{{inv.frm_name}}">
    <div class="row">
        <div class="col-sm-12">
            <fieldset class="well">
                <legend class="well-legend text-uppercase">{{inv.gbx_dap}}</legend>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-4 text-uppercase">
                                        {{inv.key_susA}}:
                                    </div>
                                    <div class="col-sm-7">
                                        <textarea class="form-control" name="{{inv.frm_susA}}" v-model={{inv.frm_susA}} disabled></textarea>
                                    </div>
                                    <div class="col-sm-4 text-uppercase" style="margin-Top:10px">
                                        {{inv.key_desc}}:
                                    </div>
                                    <div class="col-sm-7" style="margin-Top:10px">
                                        <textarea class="form-control" name="{{inv.frm_desc}}" v-model={{inv.frm_desc}} disabled></textarea>
                                    </div>
                                    <div class="col-sm-12 text-uppercase" style="margin-Top:10px">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                {{inv.key_preC}}:
                                            </div>
                                            <div class="col-sm-5">
                                                <input type="text" class="form-control isCurrency"
                                                    name="{{inv.frm_preC}}" v-model={{inv.frm_preC}} />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-4 text-uppercase" style="margin-Top:10px">
                                                {{inv.key_preP}}:
                                            </div>
                                            <div class="col-sm-5" style="margin-Top:10px">
                                                <input type="text" name="{{inv.frm_preP}}" v-model={{inv.frm_preP}}
                                                    class="form-control isCurrency">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 text-uppercase" style="margin-Top:10px">
                                        {{inv.key_ubi}}
                                    </div>
                                    <div class="col-sm-7" style="margin-Top:10px">
                                        <select class="form-control" name="{{inv.frm_ubi}}" v-model={{inv.frm_ubi}}>
                                            <option value="0">--- Seleccione ---</option>
                                            {{#each productLocations}}
                                                <option value="{{id}}">{{location}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="col-sm-4 text-uppercase" style="margin-Top:10px">
                                        {{inv.key_pro}}
                                    </div>
                                    <div class="col-sm-7" style="margin-Top:10px">
                                        <select class="form-control" name="{{inv.frm_pro}}" v-model={{inv.frm_pro}}>
                                            <option value="0">--- Seleccione ---</option>
                                            {{#each suppliers}}
                                                <option value="{{id}}">{{supplierName}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-lg-3 offset-lg-4 col-sm-3 col-sm-offset-4 col-md-3 col-md-offset-4">
                                                <div class="form-check form-check-inline">
                                                    <input type="checkbox" class="form-check-input"
                                                        name="{{inv.frm_cad}}" v-model={{inv.frm_cad}}></input>
                                                    <label
                                                        className="form-check-label text-uppercase">{{inv.key_cad}}</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-lg-offset-1 col-sm-3 col-sm-offset-2 col-md-3 col-md-offset-1">
                                                <div class="form-check form-check-inline">
                                                    <input type="checkbox" class="form-check-input"
                                                        name="{{inv.frm_anti}}"></input>
                                                    <label
                                                        class="form-check-label text-uppercase">{{inv.key_anti}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="text-center">
                                    <img src="../img/default.PNG" class="img-fluid"
                                        style="height:200px; width:70%;"></img>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-4 offset-sm-1">
                                                <div class="row">
                                                    <div class="col-sm-12 text-uppercase">
                                                        {{inv.key_stckA}}
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <input type="text" class="form-control" name="{{inv.frm_stckA}}" v-model={{inv.frm_stckA}}
                                                            disabled></input>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-sm-offset-2">
                                                <div class="row">
                                                    <div class="col-sm-12 text-uppercase">
                                                        {{inv.key_cantAd}}
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <input type="text" class="form-control"
                                                            name="{{inv.frm_cantAd}}" v-model={{inv.frm_cantAd}}></input>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</form>
<div cass="col-sm-12">
    <fieldset class="well">
        <legend class="well-legend text-uppercase">{{inv.key_agIn}}:</legend>
        <div class="row">
            <div class="col-sm-12 text-center text-uppercase">{{inv.key_titM}}</div>
            <div class="col-sm-12 text-center text-uppercase">{{inv.key_subtM}}</div>
            <div class="col-sm-3 text-center text-uppercase">{{inv.key_numLoM}}</div>
            <div class="col-sm-2 text-center text-uppercase">{{inv.key_cantM}}</div>
            <div class="col-sm-3 text-center text-uppercase">{{inv.key_cadM}}</div>
            <div class="col-sm-12">
                <form name="{{inv.frm_CadN}}" id={{inv.frm_CadN}}>
                    <div class="row">
                        <div class="d-none"><input type="text" class="form-control" name="{{inv.frm_cadp}}" v-model={{inv.frm_cadp}}></input>
                        </div>
                        <div class="col-sm-3"><input type="text" class="form-control isNumber" name="{{inv.frm_lote}}"  v-model={{inv.frm_lote}} minLength="{{inv.mnl_lote}}" maxLength="{{inv.mxl_lote}}" pattern="[0-9]" data-original-title="{{inv.msg_lote}}" data-original-name="key_numLoM"  required></input></div>
                        <div class="col-sm-2"><input type="text" class="form-control isNumber" name="{{inv.frm_cant}}" v-model="{{inv.frm_cant}}"  pattern="[0-9]" data-original-title="{{inv.msg_canl}}" data-original-name="key_cantM" required></input></div>
                        <div class="col-sm-3 text-center">
                            {{!-- <vuejs-datepicker v-model="{{inv.frm_cadl}}"  :bootstrap-styling="true" name="{{inv.frm_cadl}}" :inline="false" :language="es"></vuejs-datepicker>
                             --}}
                             <input type="date" class="form-control" v-model="{{inv.frm_cadl}}" name="{{inv.frm_cadl}}">
                        </div>
                        <div class="col-lg-4">
                            <p class="text-center">
                                <button type="button" class="btn btn-primary" value="{{inv.frm_CadN}}" v-on:click="validarIventario">{{global.key_acep}}</button>
                                <button type="button" class="btn btn-default">Limpiar</button>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xl-12" id="demo">
                <demo-grid :heroes="gridData" ></demo-grid>
                <table class="table table-striped" style="margin-Top:10px">
                    <thead>
                        <tr>
                            <th class="text-center">{{inv.key_numLoM}}</th>
                            <th class="text-center">{{inv.key_cantM}}</th>
                            <th class="text-center">{{inv.key_cadM}}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="table-lotes">
                        
                    </tbody>
                </table>
            </div>
        </div>
    </fieldset>
</div>

<div class="row mbot-20">
    <div class="col-lg-12">
        <p class="text-center">
            <button type="button" class="btn btn-success mtop-10">{{global.key_guad}}</button>
            <button type="button" class="btn btn-primary mtop-10">{{global.key_limp}}</button>
        </p>
        
    </div>
</div>
</div>
</div>
<script type="text/x-template" id="grid-template">
     <table class="table table-striped" style="margin-Top:10px">
                    <thead>
                        <tr>
                            <th class="text-center">"Numero de lote"</th>
                            <th class="text-center">"Cantidadad"</th>
                            <th class="text-center">Caducidad</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="entry in heroes">
                            <td>\{{entry["num_lote"]}}</td>
                            <td>\{{entry["cant_lote"]}}</td>
                            <td>\{{entry["cad_lote"]}}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
</script>